{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
   <h2 class="text-center">Journals</h2>
   <div class="movies_container">
      {% for movie in movies.query.all() %}
         <div class="card movie_card"><a href="{{ url_for('journal', movie_id=movie.id )}}">
                <img class="card-img-top" alt="..." src="{{ url_for('static', filename='uploads/'+movie.title) }}">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="movie_info">{{ movie.year }}</p>
                <p class="movie_info">{{ movie.director }}</p>
            </div>
         </a></div>
      {% endfor %}
   </div>
</div>
   
{% endblock content %}

<!-- flask images/files: https://blog.miguelgrinberg.com/post/handling-file-uploads-with-flask -->
<!-- <img src="{{ url_for('uploads', filename=movie.title) }}"> -->