{% extends "layout.html" %}
{% block content %}

   <!-- <div class="card bg-dark text-white journal-header">
    <img src="{{ url_for('static', filename='uploads/'+movie.title) }}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">{{ movie.year }}</p>
      <p class="card-text">{{ movie.director }}</p>
      <p class="card-text"><small class="text-muted">Journal created - {{ movie.time }}</small></p>
    </div>
  </div> -->

  <div class="row" style="margin: 3rem">
    <div class="col card mb-3" style="max-width: 540px; border:none;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="card-img" alt="..." src="{{ url_for('static', filename='uploads/'+movie.title) }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">{{ movie.year }}</p>
              <p class="card-text">{{ movie.director }}</p>
              <p class="card-text"><small class="text-muted">Journal created - {{ movie.time }}</small></p>
            </div>
          </div>
        </div>
      </div>
    
    <form class="col" style="" action="#" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
       <!-- <legend class="border-bottom mb-4"> New Entry </legend> -->
            <div class="form-group">
                {% if form.entry.errors %}
                    <div class="invalid-feedback">
                    {% for error in form.entry.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.entry(class="form-control", style="height:210px") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn my_button") }}
            </div>
    </form>
  </div>

    <a href="{{ url_for('delete_journal', movie_id=movie.id )}}"><button type="button" class="btn btn-outline-danger btn-sm">Delete Journal</button></a>
    <a href="{{ url_for('delete_entries', movie_id=movie.id )}}"><button type="button" class="btn btn-outline-danger btn-sm">Delete Entries</button></a>


    <div class="journal_entries border-top mb-4">
      <!-- NOTICE: DATA LABELS WERE SWITCHED [0,1,2]->[2,1,0] -->
        {% for entry in entries %}
            {% if entry.sentiment == 0 %}
            <!-- Positive -->
                <div class="card border-success mb-3 entry" style="">
                    <div class="card-body text-success">
                      <h5 class="card-title">Positive Entry</h5>
                      <h6 class="card-subtitle mb-4 text-muted" style="font-size: 0.7rem">{{ entry.time }}</h6>
                      <p class="card-text">{{ entry.entry }}</p>
                    </div>
                </div>
            {% elif entry.sentiment == 1 %}
            <!-- Neutral -->
                <div class="card border-secondary mb-3 entry" style="">
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Neutral Entry</h5>
                        <h6 class="card-subtitle mb-4 text-muted" style="font-size: 0.7rem">{{ entry.time }}</h6>
                      <p class="card-text">{{ entry.entry }}</p>
                    </div>
                </div>
            {% else %}
            <!-- Negative -->
                <div class="card border-danger mb-3 entry" style="">
                    <div class="card-body text-danger">
                      <h5 class="card-title">Negative Entry</h5>
                      <h6 class="card-subtitle mb-4 text-muted" style="font-size: 0.7rem">{{ entry.time }}</h6>
                      <p class="card-text">{{ entry.entry }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}